[Unit]
Description=Jeedom NodeJs Server

[Service]
ExecStart=/usr/bin/node /srv/http/jeedom/core/nodeJS/server.js
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
