[Unit]
Description=Jeedom NodeJs Server

[Service]
ExecStart=/usr/bin/node /usr/share/webapps/jeedom/core/nodeJS/server.js
KillMode=process
Restart=always
StandardOutput=syslog
SyslogIdentifier=jeedom
User=http
Group=http

[Install]
WantedBy=multi-user.target
